<nav class="container-fluid fixed-top px-5 py-0" align="center">

  <div class="row top justify-content-start mt-3">
    <h1>GIT-SEARCH WEB APP</h1>
    <img src="assets/images/github.svg" class="d-none d-sm-none d-md-inline">

  </div>

  <div class="row justify-content-center mb-2">
    <div class="search d-block">
      <input type="text" class="searchTerm" [ngClass]="{'redBorder':error}" placeholder="Who are you looking for?" id="user" [(ngModel)]="username" #user="ngModel" name="username" (keydown.enter)="getUser()" autocomplete="off">
      <span class="searchButton" (click)="getUser()">
        <i class="fa fa-search"></i>
      </span>
    </div>

  </div>
  <div class="text-center redText" *ngIf="error">
    <i>user not found</i>
  </div>

</nav>

<div class="container-fluid contData px-5">

  <div class="row" id="profile" *ngIf="profile">

    <div class="col-md-3">

      <h3 style="position:fixed;" class="ml-3 font-weight-bold text-muted d-none d-sm-none d-md-block">Profile</h3>

      <div class="card keyInfoCard my-5 px-3 pb-3">

        <img src="{{profile.avatar_url}}" alt="Profile Image">

        <h3> {{profile.name == null ? profile.login : profile.name}}</h3>
        <!-- <h3>{{profile.name}}</h3> -->
        <!-- <h5 *ngIf="profile.email">{{profile.email}}</h5> -->

        <div *ngIf="profile.bio != null">
          <h6><strong>BIO</strong></h6>
          <p class="bio">{{profile.bio}}</p>
        </div>

        <div>
          <p *ngIf="profile.blog.length != 0">
            <i class="fa fa-id-card mr-2"></i>
            Visit {{profile.name == null ? profile.login : profile.name}}'s
            <a href="{{profile.blog}}" target="_blank"> Portfolio</a>
          </p>
        </div>

        <p *ngIf="profile.location != null ">
          <i class="fa fa-map-marker-alt mr-2"></i>{{profile.location}}
        </p>
        <p>
          <i class="fab fa-github-square mr-2"></i>
          <span>Visit {{profile.name == null ? profile.login : profile.name}}'s Github</span>
          <a href="{{profile.html_url}}" target="_blank"> Profile</a>
        </p>
        <p>
          <i class="fa fa-calendar mr-2"></i>
          <span><strong>Joined Github : </strong></span>
          <span>{{profile.created_at | date : 'MMM d, y'}}</span>

        </p>

        <hr>

        <div class="stats-holder">
          <div class="user-stats">
            <strong><i class="fa fa-archive mr-2 hide-ms"></i>Repositories</strong>
            <span>{{profile.public_repos}}</span>

          </div>
          <div class="user-stats">
            <strong><i class="fas fa-user-circle mr-2 hide-ms"></i>Following</strong>
            <span>{{profile.following}}</span>

          </div>
          <div class="user-stats">
            <strong><i class="fas fa-user-circle mr-2 hide-ms"></i>Followers</strong>
            <span>{{profile.followers}}</span>
          </div>
        </div>

      </div>

    </div>

    <div class="col-0 col-md-1">

    </div>

    <div class="col-md-8">




      <h3 class="font-weight-bold text-muted ml-2 repo-header">Repositories</h3>




      <div class="loader" *ngIf="loading">Loading...</div>

      <div *ngIf="!loading">


        <div class="row">
          <div class="col-md-4" *ngFor="let repo of repos">
            <div class="card repo-card">



              <div class="row">

                <div class="col-10 col-md-10">
                  <h5 class="repo-name">{{repo.name}}</h5>

                </div>

                <div class="col-2 col-md-2">
                  <span *ngIf="repo.fork">
                    <i class="fas fa-cookie-bite"></i>
                    <span class="tultip">
                      forked repository
                    </span>
                  </span>


                </div>

              </div>

              <div class="desc-div mb-2">

                <p class="repo-desc"> {{repo.description === null || repo.description === undefined ? '—' : repo.description | slice :0 :70}} <span style="font-size:1.1rem;">{{repo.description?.length > 70 ? '&hellip;' : ''}}</span> </p>

              </div>


              <div class="d-inline repo-date mb-1">
                <span>
                  <i class="fas fa-file-alt mr-2"></i>
                </span>
                <span>&nbsp;{{repo.language}}</span>
              </div>


              <div class="d-inline repo-date mb-1">
                <span>
                  <i class="fas fa-user mr-2"></i>
                </span>
                <span>{{repo.contributors?.length > 1 ? repo.contributors?.length + ' Contributors' : repo.contributors?.length + ' Contributor'}}</span>
              </div>




              <div class="d-inline repo-date mb-1">
                <span>
                  <i class="fas fa-calendar-day mr-2"></i>
                </span>

                <span class="create-date">
                  {{repo.created_at | date}}
                </span>
              </div>

              <div class="row mt-3">
                <div class="col-6 col-md-6">
                  <a role="button" class="btn btn-md git-btn" href="{{repo.html_url}}" target="_blank">
                    Github
                  </a>
                </div>
                <div class="col-6 col-md-6 text-right">
                  <a href="{{repo.homepage}}" target="_blank" role="button" class="btn btn-md live-btn" *ngIf="repo.homepage">
                    Live site
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>
</div>
