.body {
  background-color: #3498db;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 5px 5px 10px 10px grey;
}

.cont1 {
  margin-bottom: 2em;
}

.card {
  width: 400px;
  margin: 10px;
  padding: 5px;
}

h2 {
  text-align: center;
}

button, input {
  margin: 10px;
}

input {
  opacity: 0.5;
  box-shadow: 2px 5px 2px 5px black;
  width: 50%;
}

.num {
  font-size: 20px;
  margin-top: -1em;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 5px black;
}

ul {
  list-style: none;
}

.btnview {}

.btnview:hover {
  background: linear-gradient(to right, #e74c3c 0%, #d7bde2 100%);
  color: red;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

button {
  box-shadow: 2px 2px 5px black;
}

.btn-sm {
  width: 150px;
  margin: 5px;
}

.bt-sm:hover {
  box-shadow: 2px 2px 5px black;
}
