<nav class="container-fluid fixed-top px-5 py-0" align="center" [@fadeIn]>

  <div class="row top mt-3">
    <div class="col-md-4 pl-0">
      <div class="d-flex">
        <h1>GIT-SEARCH APP</h1>
        <img src="assets/images/github.svg" class="d-none d-sm-none d-md-inline">
      </div>
    </div>
    <div class="col-md-4">
      <div class="search d-block">
        <input type="text" #searchUserInput class="searchTerm"
          [ngClass]="{'redBorder':(searchError && !loadingUsers) ||  (!loadingUsers && username && usersList && !usersList?.length) }"
          placeholder="Who are you looking for?" id="special" name="name" [(ngModel)]="username" autocomplete="off">
        <!-- (ngModelChange)="searchUsers()" -->
        <span class="searchButton" (click)="searchUsers()">
          <i class="fa fa-search"></i>
        </span>

        <div class="search-listing" *ngIf="usersList && usersList?.length && open && username">
          <div class="list-item" *ngFor="let user of usersList;index as i" (click)="username = user.login;getUser()">
            <img src="{{user.avatar_url}}" alt="Profile Image">

            <span> {{user.name == null ? user.login : user.name}}</span>

          </div>

        </div>

        <div class="search-listing"
          *ngIf="(searchError && !loadingUsers) ||  (!loadingUsers && username && usersList && !usersList?.length)"
          [@fadeIn]>
          <div class="text-center redText list-item py-3">
            <i>user not found</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-right d-none d-sm-none d-md-block pt-3 pr-0">
      version 3.5.0
    </div>
  </div>



</nav>

<div class="container-fluid contData px-3">

  <div class="row justify-content-between" id="profile" *ngIf="profile" [@fadeIn]>

    <div class="col-md-3">

      <h3 style="position:fixed;" class="ml-3 font-weight-bold text-muted d-none d-sm-none d-md-block">Profile</h3>

      <div class="card keyInfoCard px-3 pb-3">

        <img src="{{profile.avatar_url}}" alt="Profile Image">

        <h3> {{profile.name == null ? profile.login : profile.name}}</h3>

        <div *ngIf="profile.bio != null">
          <h6><strong>BIO</strong></h6>
          <p class="bio">{{profile.bio}}</p>
        </div>

        <p *ngIf="profile?.blog?.length !== 0">
          <i class="fa fa-id-card mr-2"></i>
          Visit {{profile.name == null ? profile.login : profile.name}}'s
          <a href="{{profile.blog}}" target="_blank"> Portfolio</a>
        </p>

        <p *ngIf="profile.location">
          <i class="fa fa-map-marker-alt mr-2"></i>{{profile.location}}
        </p>

        <p>
          <i class="fab fa-github-square mr-2"></i>
          <span>Visit {{profile.name == null ? profile.login : profile.name}}'s Github</span>
          <a href="{{profile.html_url}}" target="_blank"> Profile</a>
        </p>
        <p>
          <i class="fa fa-calendar mr-2"></i>
          <span><strong>Joined Github : </strong></span>
          <span>{{profile.created_at | date : 'MMM d, y'}}</span>

        </p>

        <hr>

        <div class="stats-holder">
          <div class="user-stats">
            <strong><i class="fa fa-archive mr-2 hide-ms"></i>Repositories</strong>
            <span>{{profile.public_repos | countChecker}}</span>

          </div>
          <div class="user-stats">
            <strong><i class="fas fa-user-circle mr-2 hide-ms"></i>Following</strong>
            <span>{{profile.following | countChecker}}</span>

          </div>
          <div class="user-stats">
            <strong><i class="fas fa-user-circle mr-2 hide-ms"></i>Followers</strong>
            <span>{{profile.followers | countChecker}}</span>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-8">

      <h3 class="font-weight-bold text-muted ml-2 repo-header">Repositories
        <small *ngIf="repos?.length" class="ml-2">({{profile.public_repos }} repos)</small>
      </h3>


      <div class="loader" *ngIf="loading" [@fadeIn]></div>

      <div *ngIf="!loading && repos?.length" [@fadeIn]>

        <div class="row">
          <div class="col-md-4"
            *ngFor="let repo of repos | paginate: { itemsPerPage: 30, currentPage: page,totalItems:profile.public_repos }">
            <div class="card repo-card">

              <div class="row">

                <div class="col-10 col-md-10">
                  <h5 class="repo-name">{{repo.name}}</h5>

                </div>

                <div class="col-2 col-md-2 pr-0 position-relative">
                  <span *ngIf="repo.fork">
                    <i class="fas fa-cookie-bite"></i>
                    <span class="tultip">
                      Forked repo
                    </span>
                  </span>


                </div>

              </div>

              <div class="desc-div mb-2">

                <p class="repo-desc" [ngClass]="{'font-italic':!repo.description}"> {{ !repo.description ? 'No desciption' :
                  repo.description | slice :0 :80}}<span style="font-size:1.1rem;">{{repo.description?.length > 80 ?
                    '&hellip;' : ''}}</span> </p>

              </div>


              <div class="d-inline repo-date mb-1 mt-auto">
                <span>
                  <i class="fas fa-file-alt mr-2"></i>
                </span>
                <span>&nbsp;{{repo.language}}</span>
              </div>


              <!-- <div class="d-inline repo-date mb-1">
                <span>
                  <i class="fas fa-user mr-2"></i>
                </span>
                <span *ngIf="repo.contributors">{{repo.contributors?.length === 1 ? repo.contributors?.length + ' Contributor' : repo.contributors?.length + ' Contributors'}}</span>
                <span *ngIf="!repo.contributors">No contributors</span>
              </div> -->




              <div class="d-inline repo-date mb-1">
                <span>
                  <i class="fas fa-calendar-day mr-2"></i>
                </span>

                <span class="create-date">
                  {{repo.created_at | date}}
                </span>
              </div>

              <div class="action-buttons mt-2">
                <a role="button" class="btn btn-md git-btn" href="{{repo.html_url}}" target="_blank">
                  Github
                </a>

                <a href="{{repo.homepage}}" target="_blank" role="button" class="btn btn-md live-btn"
                  *ngIf="repo.homepage">
                  Live site
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="pagination-container" align="center" class="mt-5" *ngIf="profile.public_repos > 30" [@fadeIn]>
          <pagination-controls (pageChange)="getRepos((page = $event))" [maxSize]="7" previousLabel=""
            nextLabel=""></pagination-controls>
        </div>

      </div>


    </div>

  </div>
</div>