h2 {
  font-family: 'Black Ops One', cursive;
  font-size: 50px;
  text-align: left;

  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;

  -webkit-transition: color 2s;
  transition: color 2s;
}

h2:hover {
 color: #07cff6;
 -webkit-text-stroke-width: 0.5px;
 -webkit-text-stroke-color: #07cff6;
}

img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

hr {
  width: 50%;
}

nav {
  background-color: #3498db;
}

.home {
  font-weight: bolder;
}

a {
  color: black;
  padding: 5px;
  margin: 0;
  transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover {
  background-color: white;
  border-radius: 4px;
}
